body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.container:hover {
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #090909;
}

.item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
  transition: background 0.3s, transform 0.3s;
}

.item:hover {
  background: #eaeaea;
  transform: translateY(-2px);
}

.item h2 {
  margin: 0;
  font-size: 20px;
  color: #090909;
}

p {
  font-size: 16px;
}

button {
  background-color: transparent;
  border: 1px solid #3d3d3d;
  color: 090909;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #3d3d3d;
  border: 1px solid #878787;
  color: white;
  transform: translateY(-2px);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus, textarea:focus {
  border-color: #3498db;
  outline: none;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}